.header_components {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff385c;
  padding: 16px 32px;
  color: white;
}

.header_titulo {
  font-size: 1.8rem;
  font-weight: bold;
}

.header_nav {
  display: flex;
  gap: 12px;
}

.nav_button {
  background-color: white;
  color: #ff385c;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.nav_button:hover {
  background-color: #ff638c;
  color: white;
}
